body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abyss main{
    margin-top: 70px;
}

.abyss .navbar {
    background-color: rgb(56,59,65);
}

.abyss main .row div[class ^= "col"]:first-child{
    padding-left: 0;
}

.abyss main .row div[class ^= "col"]:last-child{
}

@media (min-width: 768px) {
    .chat {
        position: fixed;
        width: 30%;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-left: 1px solid #eee;
    }

    .chat-form {
        position: fixed;
        bottom: 0;
        width: 27%;
    }
}

